.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(20%);
}

.main__logo{
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
    object-fit: contain;
}

.main__menu{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.main__option>button{
    width: 100%;
    margin-bottom: 30px;
    height: 50px;
}