.matchscrolllist{
    background-color: #F5F5F5;
    border-radius: 0.4em;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px #CCCCCC;
}

.matchoverview{
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(40%);
}

.matchoverview__data{
    margin-left: auto;
    margin-right: auto;
}

.matchoverview__data>tr>th{
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
}

.matchoverview__data>tr>td{
    padding: 20px;
    font-size: 16px;
    border: 1px solid black;
}

.matchoverview__data__edit>img{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    object-fit: contain;
    float: right;
}

.matchoverview__data__status__icon{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    object-fit: contain;
    float: right;
}
 .matchscrolllist{
    flex-direction: row;
    align-items: center;
    transform: translateY(30%);
    margin-left: 10%;
    margin-right: 10%;
 }