.playeroverview{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
}

.playeroverview__playerList{
    width: 45%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    border-radius: 0.4em;
    padding: 10px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px #CCCCCC;
}

.playeroverview__listItem{
    width: 100%;
    flex-direction: row;
}

.playeroverview__playerList__header{
    flex-direction: row;
    width: 100%;
}

.playeroverview__playerListTableHeader{
    width: 45%;
    display: inline-flex;
}

.playeroverview__playerListInput{
    width: 30%;
    height: 30px;
    display: inline-flex;
    float: right;
    transform: translateY(20%);
}

.playeroverview__playerListTitle{
    text-align: center;
    padding-bottom: 0px !important;
    border-top: 1px solid black;
}

.playeroverview__playerListTitle>h4 {
    font-size: 18px;
}

.playeroverview__playerList>ul {
    list-style-type: none;
}

.playeroverview__playerList>ul>li{
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.playeroverview__playerlist__PlayerEdit>img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    float: right;
}

.playeroverview__info{
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0.4em;
    margin-right: 5%;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px #CCCCCC;
}
    
.playeroverview__info__image {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.playeroverview__info__data{
    flex-direction: column;
    margin-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.playeroverview__info__data>table{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.3em;
}

.playeroverview__info__data>table>tr>th{
    width: 100%;
    text-align: center;
    border: 0px solid white;
}

.playeroverview__info__data>table>tr{
    border: 0px solid white;
}

.playeroverview__info__data>table>tr>td{
    border: 0px solid white;
}

.playeroverview__infoTableRight{
    text-align: right;
}