.playereditor{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
}


.playereditor__info{
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0.4em;
    margin-left: 5%;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px #CCCCCC;
}

.playereditor__infoTableButton{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;   
}

.playereditor__infoTableButton .test{
    width: 100%;
}
    
.playereditor__info__image {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.playereditor__info__data{
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.playereditor__info__data>table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.3em;
}

.playereditor__info__data>table>tr>th{
    width: 100%;
    text-align: center;
    border: 0px solid white;
}

.playereditor__info__data>table>tr{
    border: 0px solid white;
}

.playereditor__info__data>table>tr>td{
    border: 0px solid white;
}

.playereditor__infoTableRight{
    text-align: right;
}

.playereditor__playedmatches{
    width: 100%;
    display: flex;
}

.playereditor__playedmatches>.playereditor__playedmatchesTable{
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    top: 0%;
}

.playereditor__playedmatches>table>tr>th{
    border: 1px solid;
}

.playereditor__playedmatches>table>tr>td{
    border: 1px solid;
}

.playereditor__playedmatches__matchedit__icon{
    height: 20px;
    object-fit: contain;
}

.playeroverview__infoTableRight{
    text-align: right;
}