.playeroverview{
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(40%);
    margin-left: 5%;
}

.playeroverview__playerList{
    width: 45%;
        margin-right: 5%;
}

.playeroverview__playerListTitle{
    text-align: center;
    padding-bottom: 0px !important;
    border-top: 1px solid black;
}

.playeroverview__playerListTitle>h4 {
    font-size: 18px;
}

.playeroverview__playerList>ul {
    flex-direction: column;
    list-style-type: none;
}

.playeroverview__playerList>ul>li{
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.playeroverview__playerlist__PlayerEdit>img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    float: right;
}

.playeroverview__info{
    width: 45%;
}
    
.playeroverview__info__image {
    width: 250px;
    height: 250px;
    object-fit: contain;
}